.topbar {
    width: 100%;
    height: 70px;
    background-color: #202020;
    z-index: 999;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 2rem;
}

.left {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

.left button {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 2rem;
    padding: 0;
    margin-top: 0.3rem;
    cursor: pointer;
}

.center {
    display: flex;
    width: 35%;
}

.center input {
    width: 100%;
    background-color: #1b1b1b;
    border: solid 1px #333333;
    height: 30px;
    color: #fff;
    padding-left: 0.8rem;
    outline: none;
}

.center button {
    background-color: #333333;
    width: 60px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.center button:hover {
    opacity: 0.8;
}

.right {
    display: flex;
    gap: 2rem;
}

.right a {
    color: #fff;
    font-size: 1.4rem;
}

.m {
    margin-top: 0.3rem;
}

.profilpic {
    border: solid 1px #333333;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.sidebar {
    width: 80px;
    transition: 0.4s;
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: #262626;
    z-index: 999;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}

.sidebar li {
    font-size: 1.5rem;
}

.sidebar li a {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
}

.sidebar li a:hover {
    transition: 0.4s;
    opacity: 0.7;
}

.sidebar li a span {
    font-size: 0.6rem;
}

.sidebarRolled {
    width: 250px;
    z-index: 999;
    transition: 0.4s;
    position: fixed;
    height: calc(100vh - 70px);
    background-color: #262626;
}

.sidebarRolled ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 0.4rem;
}

.sidebarRolled ul::after {
    content: '';
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: 1px;
    top: 120%;
    background-color: #333333;
}

.sidebarRolled ul li a {
    width: 93%;
    display: flex;
    align-items: center;
    height: 2.4rem;
    color: #fff;
    text-decoration: none;
    gap: 1rem;
    font-family: arial;
    padding-left: 1rem;
}

.sidebarRolled ul li a:hover {
    background-color: #535353;
}

.sidebarRolled h4 {
    padding-top: 1.6rem;
    margin-bottom: 0.4rem;
    color: #fff;
    margin-left: 1rem;
    font-weight: bold;
}

@media (max-width: 500px) {
    .center {
        display: none;
    }
}
