.home {
    display: flex;
    justify-content: center;
}

.videoContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.video {
    display: flex;
    flex-direction: column;
    position: relative;
}

.video a {
    color: inherit;
    text-decoration: none;
}

.video h3 {
    margin: 1rem 0 0.7rem 0;
    font-weight: bold;

}

.video h5, .video h6 {
    margin: 0.3rem 0;
    color: rgb(182, 182, 182);
}

.duration {
    position: absolute;
    top: 59%;
    right: 2%;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.2rem 0.3rem;
}

.author:hover {
    transition: 0.4s;
    opacity: 0.8;
}